@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



.cardc
{
	position: relative;
	margin-top: 100px;
	margin-left: 10%;
    margin-bottom: 10px;
	width: 350px;
	height: 350px;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.cardc:hover 
{
	width: 600px;
	transition-delay: 0.5s;
}

.cardc .circle 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardc .circle::before 
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background: #191919;
	border: 8px solid var(--clr);
	filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
	transition: 0.5s, background 0.5s;
	transition-delay: 0.75s,1s;
}

.cardc:hover .circle::before 
{
	transition-delay: 0.5s;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: var(--clr);
}

.cardc .circle .logo1 
{
	position: relative;
	width: 250px;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.cardc:hover .circle .logo1 
{
	transform: scale(0);
	transition-delay: 0s;
}

.cardc .product_img
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0) rotate(315deg);
	height: 300px;
	transition: 0.5s ease-in-out;
}

.cardc:hover .product_img
{
	transition-delay: 0.75s;
	top: 25%;
	left: 72%;
	height: 500px;
	transform: translate(-50%,-50%) scale(1) rotate(15deg);
	
}

.cardc .content
{
	position: absolute;
	width: 50%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	opacity: 0;
	transition: 0.5s;
	visibility: hidden;
}

.cardc:hover .content
{
	transition-delay: 0.75s;
	opacity: 1;
	visibility: visible;
	left: 20px;
}

.cardc .content h2 
{
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 1em;
}

.cardc .content p 
{
	color: #fff;
	font-size: 1.05em;
}

.cardc .content a 
{
	position: relative;
	color: #111;
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	margin-top: 10px;
}

@media (min-width: 330px) {
	.cardc
	{
		position: relative;
		margin-top: 100px;
		margin-left: 10%;
		margin-bottom: 10px;
		width: 250px;
		height: 250px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .circle::before 
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background: #191919;
		border: 8px solid var(--clr);
		filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
		transition: 0.5s, background 0.5s;
		transition-delay: 0.75s,1s;
	}

	.cardc .circle .logo1 
	{
		position: relative;
		width: 150px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .content p 
	{
		color: #fff;
		font-size: 0.8em;
	}

	.cardc:hover .product_img
	{
		transition-delay: 0.75s;
		top: 28%;
		left: 60%;
		height: 300px;
		transform: translate(-50%,-50%) scale(1) rotate(15deg);	
	}

	.cardc:hover .circle::before 
	{
		transition-delay: 0.5s;
		width: 60%;
		height: 100%;
		border-radius: 20px;
		background: var(--clr);
	}
}

@media (min-width: 768px) {
	.cardc
	{
		position: relative;
		margin-top: 100px;
		margin-left: 10%;
		margin-bottom: 10px;
		width: 250px;
		height: 250px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .circle::before 
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background: #191919;
		border: 8px solid var(--clr);
		filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
		transition: 0.5s, background 0.5s;
		transition-delay: 0.75s,1s;
	}

	.cardc .circle .logo1 
	{
		position: relative;
		width: 150px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .content p 
	{
		color: #fff;
		font-size: 0.8em;
	}

	.cardc:hover .product_img
	{
		transition-delay: 0.75s;
		top: 25%;
		left: 72%;
		height: 300px;
		transform: translate(-50%,-50%) scale(1) rotate(15deg);
	}

	.cardc:hover .circle::before 
	{
		transition-delay: 0.5s;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background: var(--clr);
	}
}

@media (min-width: 992px) {
	.cardc
	{
		position: relative;
		margin-top: 100px;
		margin-left: 30%;
		margin-bottom: 10px;
		width: 250px;
		height: 250px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .circle::before 
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background: #191919;
		border: 8px solid var(--clr);
		filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
		transition: 0.5s, background 0.5s;
		transition-delay: 0.75s,1s;
	}

	.cardc .circle .logo1 
	{
		position: relative;
		width: 150px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .content p 
	{
		color: #fff;
		font-size: 0.8em;
	}

	.cardc:hover .product_img
	{
		transition-delay: 0.75s;
		top: 25%;
		left: 72%;
	    height: 300px;
		transform: translate(-50%,-50%) scale(1) rotate(15deg);
	}

	.cardc:hover .circle::before 
	{
		transition-delay: 0.5s;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background: var(--clr);
	}
}

@media (min-width: 1200px) {   
    .cardc
	{
		position: relative;
		margin-top: 100px;
		margin-left: 35%;
    	margin-bottom: 10px;
		width: 350px;
		height: 350px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .circle::before 
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 350px;
		height: 350px;
		border-radius: 50%;
		background: #191919;
		border: 8px solid var(--clr);
		filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
		transition: 0.5s, background 0.5s;
		transition-delay: 0.75s,1s;
	}

	.cardc .circle .logo1 
	{
		position: relative;
		width: 250px;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.cardc .content p 
	{
		color: #fff;
		font-size: 1.05em;
	}

	.cardc:hover .product_img
	{
		transition-delay: 0.75s;
		top: 25%;
		left: 72%;
		height: 500px;
		transform: translate(-50%,-50%) scale(1) rotate(15deg);
	
	}

	.cardc:hover .circle::before 
	{
		transition-delay: 0.5s;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background: var(--clr);
	}

}